@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-gray-800 bg-slate-100;
}

article {
  @apply break-words;
}
article h1 {
  @apply text-3xl md:text-4xl font-bold mb-8;
}

article h2 {
  @apply text-2xl md:text-3xl font-bold mb-5;
}

article h3 {
  @apply text-xl md:text-2xl font-bold mb-4;
}

article a {
  @apply text-green-500 hover:underline;
}

code {
  @apply bg-gray-100 p-0.5 rounded text-red-500;
}

article ol {
  @apply list-decimal pl-4;
}

article ul {
  @apply list-disc pl-4;
}

.skeleton {
  @apply bg-slate-200 animate-pulse rounded;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}
